.rowFlex{
    display: flex !important;
}

.contactInfoSection{
    padding-left: 40%;
    padding-top: 15%;
}

.contactFeedbackSection{
    padding-right: 30%;
    padding-left: 10%;
    display: none;
}
.contactHeader{
    color: #576855;
    letter-spacing: 0.07em;
    line-height: 1.3em;
    text-align: center;
    font: normal normal normal 48px/1.4em lulo-clean-w01-one-bold,questrial,sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.contactTitle{
    letter-spacing: 0.2em;
    color: #576855;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    text-transform: uppercase;
    padding: 50px 0px 30px 0px;
}

.contactDescription, .contactInformation{
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    color: #424242;

}

.contactWrapper{
    padding-bottom: 75px;
}

.contactFeedbackButtonWrapper{
    text-align: center;
}
.contactFeedbackButton{
    width: 150px;
    height: 50px;
    font-size: 20px;
}

/* ----------- Desktop ----------- */

@media only screen and (min-device-width: 813px) {
    div.homeBanner {
        position: relative;
    }
    div.bannerHover {
        position: absolute;
        top: 200px;
        left: 420px;
        width: 690px;
    }
    div.bannerHoverTitle {
        font-size: 69px;
    }
    div.bannerHoverSubtitle {
        font-size: 30px;
    }
    .bannerHoverButton {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
    .ourFavoritesHeader {
        font-size: 48px;
    }
    .weddingInvColl {
        text-align: right;
    }
    .weddingInvCollBannerImage, .giftPaintingsCollBannerImage {
        width: 85%;
    }
    .mapsEmbedIframe{
        width: 80%;
        height: 350px;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-device-width: 812px) { 
    .row{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .contactHeader{
        font-size: 25px;
        padding-bottom: 30px;
    }

    .align-center-mobile{
        text-align: center;
    }

    .contactDescription{
        width: 100%;
    }

    .contactInfoSection, .contactFeedbackSection{
        padding: 10px;
    }

    .mapsEmbedIframe{
        width: 100%;
        height: 350px;
    }
}

/* Portrait */
@media only screen  
  and (max-device-width: 812px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (max-device-width: 812px) 
  and (orientation: landscape) { 

}
