/* ----------- iPhone X ----------- */

/* Portrait and Landscape */

@media only screen and (max-device-width: 812px) {
    .row {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }
    
    div.homeBanner {
        position: absolute;
    }
    div.bannerHover {
        text-align: center;
        width: 100%;
        position: relative;
        padding-top: 100px;
    }
    div.bannerHoverTitle {
        font-size: 25px;
    }
    div.bannerHoverSubtitle {
        font-size: 25px;
    }
    .bannerHoverButton {
        width: 100px;
    }
    .align-center-mobile {
        text-align: center;
    }
    .ourFavoritesHeader {
        font-size: 30px;
    }
    .weddingInvColl, .giftPaintingsColl {
        text-align: left;
        padding-bottom: 20px;
    }
    .weddingInvRow, .giftPaintingsRow {
        padding-bottom: 40px;
    }
    .giftPaintingsRow {
        display: flex;
    }

    .giftPaintingsCollBannerWrapper{
        order: 2;
    }

    .giftPaintingsColl{
        order: 1;
    }

    .weddingInvCollBannerImage, .giftPaintingsCollBannerImage {
        width: 100%;
    }
}

/* Portrait */

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
    .homeBannerImg {
        width: 126%;
        margin-left: -50px;
        margin-right: -10px;
    }
    div.bannerHover {
        padding-top: 100px;
    }
}

/* Landscape */

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
    div.bannerHover {
        padding-top: 315px;
    }
    .homeBannerImg {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* ----------- Desktop ----------- */

@media only screen and (min-device-width: 813px) {
    div.homeBanner {
        position: relative;
    }
    div.bannerHover {
        position: absolute;
        top: 200px;
        left: 420px;
        width: 690px;
    }
    div.bannerHoverTitle {
        font-size: 69px;
    }
    div.bannerHoverSubtitle {
        font-size: 30px;
    }
    .bannerHoverButton {
        width: 150px;
        height: 50px;
    }
    .ourFavoritesHeader {
        font-size: 48px;
    }
    .weddingInvColl {
        text-align: right;
    }
    .weddingInvCollBannerImage, .giftPaintingsCollBannerImage {
        width: 85%;
    }
}

/* --- Generic styles --- */

.rowFlex {
    display: flex !important;
}

div.bannerHoverTitle {
    font-family: lulo-clean-w01-one-bold;
    font-weight: bolder;
}

div.bannerHoverSubtitle {
    margin: 20px 0px;
}

.bannerHoverButton {
    height: 50px !important;
}

.ourFavoritesHeader {
    padding: 60px 0px 20px 0px;
    text-align: center;
    min-height: 66px;
    pointer-events: none;
    color: #576855;
    font: normal normal normal lulo-clean-w01-one-bold, questrial, sans-serif;
    font-weight: bolder;
}

.weddingInvRow {
    display: flex !important;
}

.weddingInvColl {
    padding-top: 6%;
}

.weddingInvCollTitle {
    font: normal normal normal 22px/1.4em lulo-clean-w01-one-bold, questrial, sans-serif;
    color: #424242;
    letter-spacing: 0em;
    min-height: 50px;
    pointer-events: none;
}

.weddingInvCollSubTitle {
    letter-spacing: 0.05em;
    line-height: 1.8em;
    min-height: 50px;
    pointer-events: none;
    font: normal normal normal 15px/1.4em questrial, sans-serif;
    color: #424242;
}

.weddingInvCollButton {
    width: 150px;
    height: 50px !important;
    font-size: 16px !important;
}

.weddingInvCollBannerImage {
    max-height: 420px;
}

.giftPaintingsRow {
    display: flex !important;
}

.giftPaintingsColl {
    padding-top: 6%;
}

.giftPaintingsCollTitle {
    font: normal normal normal 22px/1.4em lulo-clean-w01-one-bold, questrial, sans-serif;
    color: #424242;
    letter-spacing: 0em;
    min-height: 50px;
    pointer-events: none;
    text-align: left;
}

.giftPaintingsCollSubTitle {
    letter-spacing: 0.05em;
    line-height: 1.8em;
    text-align: left;
    min-height: 50px;
    pointer-events: none;
    font: normal normal normal 15px/1.4em questrial, sans-serif;
    color: #424242;
}

.giftPaintingsCollButtonDiv {
    text-align: left;
}

.giftPaintingsCollButton {
    width: 150px;
    height: 50px !important;
    font-size: 16px !important;
}

.giftPaintingsCollBanner {
    text-align: right;
}

.giftPaintingsCollBannerImage {
    max-height: 420px;
}