.rowFlex{
    display: flex !important;
}

.breadcrumb{
    color: #424242 !important;
    text-decoration: none !important;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    background-color: #ffffff !important;
}

.breadcrumb a, .breadcrumb .nav-link, .breadcrumb .nav {
    padding: 5px 5px !important;
}

.productImagesColl{
  display: flex;
  flex-direction: row;
}

.productIconColl{
  flex: 2;
  float: left;
}

.productImageIcon{
  height: 80px;
  width: 60px;
  margin-bottom: 10px;
  cursor: pointer;
}

.productImageWrapper{
  flex: 10;
  float: left;
}

.productImage{
  /* style={{ height: "400px", backgroundSize: 'contain', backgroundPosition: "left", backgroundRepeat: "no-repeat", marginBottom: '10px', borderWidth: '2px', borderColor: "blue", backgroundImage: `url(${this.props.product.currImage})` }} */
  height: 400px;
  
}

.productItemPrice, .productItemSize, .productItemQuantity, .productItemSubmit{
  display: none;
}

.productItemOrderOptions{
  padding-top: 30px;
  font-weight: bolder;
}

/* ----------- Desktop ----------- */

@media only screen and (min-device-width: 813px) {
    
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-device-width: 812px) { 
    .row{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .align-center-mobile{
        text-align: center;
    }

}

/* Portrait */
@media only screen  
  and (max-device-width: 812px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (max-device-width: 812px) 
  and (orientation: landscape) { 

}
