.rowFlex{
    display: flex !important;
}

.shippingInfoSection{
    padding: 2% 15%;
}

.shippingHeader{
    color: #576855;
    letter-spacing: 0.07em;
    line-height: 1.3em;
    text-align: center;
    font: normal normal normal 48px/1.4em lulo-clean-w01-one-bold,questrial,sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.shippingTitle{
    letter-spacing: 0.2em;
    color: #576855;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    text-transform: uppercase;
    padding: 50px 0px 30px 0px;
    font-weight: bolder;
}

.shippingInformation{
    letter-spacing: 0.05em;
    line-height: 1.8em;
    font: normal normal normal 15px/1.4em questrial,sans-serif;
    color: #424242;

}

.shippingWrapper{
    padding-bottom: 75px;
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (max-device-width: 812px) { 
    .row{
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .shippingHeader{
        font-size: 25px;
        padding-bottom: 30px;
    }

    .align-center-mobile{
        text-align: center;
    }

    .shippingInfoSection{
        padding: 10px;
    }
}

/* Portrait */
@media only screen  
  and (max-device-width: 812px) 
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (max-device-width: 812px) 
  and (orientation: landscape) { 

}